.catagory {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
}
.shoe-name {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-size: 60px;
  margin: 0px;
  z-index: 100;
  text-transform: uppercase;
}
.shoe-info {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  width: 400px;
  color: #131212;
  opacity: 0.5;
}
.video-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Video {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(19, 18, 18, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-video {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-size: 16px;
}
